@using SocialNetwork.Core.Application.ViewModels.Friend
@model SaveFriendViewModel

@{
    ViewData["Title"] = "Add Friend";
}

<body>
    <section>
        <div class="row mt-5 pt-5">
            <div class="col-12 col-sm-4 col-md-4 m-auto">
                <div class="card border-0 shadow">
                    <div class="card-body">
                         @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        @if(Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <div class="text-center">
                            <h4><i class="fa-solid fa-user-group"></i></h4>
                        </div>
                      
                        <form method="post" asp-controller="Friend" asp-action="AddFriend">
                            <div class="mb-2">
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                            </div>
                            <div class="d-grid gap-2 ">
                                <button class="btn text-white fw-bold" style="background-color:#0866ff">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>