﻿@using SocialNetwork.Core.Application.ViewModels.User;
@model SaveUserViewModel;

@{
    ViewData["Title"] = "Register";
}

<body>
    <section>
        <div class="row mt-3 pt-3">
            <div class="col-6 offset-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        @if (Model != null)
                        {
                            @if (Model.HasError)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <p>@Model.Error</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>

                            }
                        }
                       
                        <div class="text-center">
                            <h4><i class="fa-brands fa-facebook" style="color: #0866ff"></i></h4>
                        </div>
               
                        <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">

                            <div class="mb-2">
                                <input asp-for="Name" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>

                            </div>
                             <div class="mb-2">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="PhotoProfile" class="form-control" />
                                <span asp-validation-for="PhotoProfile" class="text-danger"></span>
                            </div>
                             <div class="mb-2">
                                <input asp-for="Phone" class="form-control" placeholder="Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            

                            <input type="hidden" asp-for="Id" />
                            <div class="d-grid gap-2 ">
                                <button class="btn text-white fw-bold" style="background-color:#0866ff">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>