﻿@using SocialNetwork.Core.Application.ViewModels.User;
@model ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
}

<body>
    <section>
        <div class="row mt-3 pt-3">
            <div class="col-6 offset-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        }
                        <div class="text-center">
                            <h4><i class="fa-solid fa-unlock"></i></h4>
                        </div>

                        <form method="post" asp-controller="User" asp-action="ResetPassword">
                            <div class="mb-2">
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="mb-2">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            </div>

                            <input type="hidden" asp-for="Token" />

                            <div class="d-grid gap-2 ">
                                <button class="btn text-white fw-bold" style="background-color:#0866ff">Reset Password</button>
                                <a asp-controller="User" asp-action="Index" class="btn btn-secondary">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>